*{ margin: 0%; }

html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    background-color: #1E1E1E;
    position: relative;
    padding-bottom: 22.93px;
    min-height: 100vh;
    
    
}

header{

    width: 100%;
    background-color: #3C3C3C;
    padding: 0;
    margin: 0;
    position: relative;
    
}
header img{

    height: 8rem ;
    width: 28rem;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
}

main{

    background-color: #1E1E1E;
    padding: 0;
    margin: 0;
   
}
footer{
    
    background-color: #3C3C3C;
    height: 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p{
    color: antiquewhite;
    font-size: 10px;
    padding: 7px;    
}

.num{

    line-height: 40px;
}

.button {
    background-color: #2ADEA2;
    /* Green */
    border: none;
    color: black;
    font-weight: bold;
    padding: .6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.0rem;
    margin: .2rem .1rem;
    cursor: pointer;
    border-radius: 1.2rem;

}

.text{

    font-size: 2rem;
    color: #D7C49EFF;
}

@media(max-width: 998px) {
            
    html{

         font-size: 78%;
    }

    
}

@media(max-width: 768px) {
    
    html{

         font-size: 64%;
    }
}
